@charset "UTF-8";
/* -------------------------------------
	Font face
	------------------------------------- */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: "normal";
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: "normal";
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: "normal";
  font-display: swap;
}

/* -------------------------------------
	Libs
	------------------------------------- */
/* ----- slick-slider.css----- */
/* ----- jquery.fancybox ----- */
/* ----- bootstrap-grid ----- */
/* ----- simplebar ----- */
/* -------------------------------------
	Reset
	------------------------------------- */
article, aside, dialog, figcaption, figure, footer, header, main, nav, section, details, menu {
  display: block;
}

@-ms-viewport {
  width: device-width;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

*::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  position: relative;
  font: 16px/1.3 "Gilroy", sans-serif, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-align: left;
  color: #000;
  background-color: #fff;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5em;
}

p {
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 1em;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol, ul ul, ol ul, ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b, strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  -webkit-transition: all 0.05s linear;
  -o-transition: all 0.05s linear;
  transition: all 0.05s linear;
}

a:hover {
  color: inherit;
}

a:focus {
  outline: none;
}

a:hover, a:focus {
  text-decoration: none;
}

a:active, a:hover {
  outline-width: 0;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

figure {
  margin: 0 0 1rem;
}

img {
  font-size: 10px;
  text-transform: uppercase;
  color: orange;
  vertical-align: middle;
  border-style: none;
}

img::-moz-selection {
  background: none;
}

img::selection {
  background: none;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-collapse: collapse;
  background-color: transparent;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #000;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

a, area, button, [role="button"], input, label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
}

input[type="radio"], input[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="radio"]:disabled, input[type="checkbox"]:disabled {
  cursor: not-allowed;
}

input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
  -webkit-appearance: listbox;
}

input[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[type="checkbox"], [type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

[role="button"] {
  cursor: pointer;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

[hidden] {
  display: none !important;
}

/* -------------------------------------
	Common styles
	------------------------------------- */
.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.main-wrapper .page {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-wrapper {
    display: block;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 758px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.flex, .flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img--cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.nowrap {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 1199px) {
  .hide-xl {
    display: none !important;
  }
}

@media screen and (min-width: 1200px) {
  .show-xl {
    display: none !important;
  }
}

/* ---------- Titles & text ---------- */
/* ----- Кнопки ----- */
.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 252px;
  height: 52px;
  padding-top: 2px;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

/* -------------------------------------
	Modules
	------------------------------------- */
/* ----- Forms ----- */
*::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
*::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
*:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
*::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
*::placeholder {
  color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

body input:focus:required:invalid, body textarea:focus:required:invalid,
body input:required:valid, body textarea:required:valid {
  color: #000;
}

.input {
  display: block;
  width: 100%;
  min-width: 1px;
  height: 45px;
  padding: 16px 15px 14px 15px;
  background-color: #eee;
  border: 1px solid #f4f4f4;
  font-size: 14px;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.input:focus {
  outline: none;
}

/* -------------------------------------
	Sections
	------------------------------------- */
/* ----- header ----- */
/* ----- footer ----- */
/* -------------------------------------
	Main page
	------------------------------------- */
/* -------------------------------------
	Page
	------------------------------------- */
